@model LogModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" asp-controller="Log" asp-action="Index">
        <h2>Регистрация нового пользователя</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Username"></label><br />
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </form>

    <form method="post" asp-controller="Log" asp-action="Enter">
        <h2>Вход</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Username"></label><br />
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input type="submit" value="Вход" />
        </div>
    </form>

    <form method="post" asp-controller="Log" asp-action="Skip">
        <div>
            <input type="submit" value="Продолжить без регистрации" />
        </div>
    </form>
</body>
</html>
