
@model TextQuest.Models.SceneListModel
@{
    ViewBag.Title = "Hello World";
}


<body>

    <div class="background" >
        <img src="@Model.CurrentScene.BackgroundImageUrl" />

        @Html.Partial("_GetSceneObjects", Model)

    </div>

    

</body>



