
@model TextQuest.Models.SceneListModel



<body>
    <div class="back-container">
        

        <div class="background">
            <img src="@Model.CurrentScene.BackgroundImageUrl" />
            @Html.Partial("_GetSceneObjects", Model)

        </div>
    </div>
  

    

</body>


