
@model TextQuest.Models.SceneListModel
@{
    ViewBag.Title = "Hello World";
}


<h3>@ViewBag.Title</h3>
<body onunload="alert('Вы точно решили покинуть наш сайт ?')">

    <div class="background">
        <img src="@Model.CurrentScene.BackgroundImageUrl" />

        @Html.Partial("_GetSceneObjects", Model)
        @Html.Partial("_GetInventory", Model)

    </div>

    

</body>



