
@model TextQuest.Models.SceneListModel

<head runat="server">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" runat="server">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Share+Tech+Mono|Montserrat" rel="stylesheet">
</head>
<body>
    <div class="back-container">
        <div class="allgame">

            @Html.Partial("_GetSceneObjects", Model)
        </div>
    </div>
</body>

