
@model TextQuest.Models.SceneListModel

<head runat="server">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" runat="server">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Share+Tech+Mono|Montserrat" rel="stylesheet">
</head>
<body>
    <div class="sidenav">
        <a id="main" href="#about">● Выход</a>
        <a id="select" href="#services">● Выбор уровня</a>
    </div>
    <div class="back-container">
        <div class="allgame">

            @Html.Partial("_GetSceneObjects", Model)
        </div>
    </div>
</body>

<script>
    var main = document.getElementById('main');
    var select = document.getElementById('select');
    main.onclick = toMain;
    select.onclick = toSelect;

    function toMain() {
        $.ajax({
            url: "/GamePage/Reset",
            type: "post",
            success: function () {
                window.location.replace("@Url.RouteUrl(new { controller = "Log", action = "Index" })");
            },
            error: function () {
            }
        });
    }

    function toSelect() {
        $.ajax({
            url: "/GamePage/Reset",
            type: "post",
            success: function () {
                window.location.replace("@Url.RouteUrl(new { controller = "LevelSelect", action = "Index" })");
            },
            error: function () {
            }
        });
    }





</script>