
@model TextQuest.Models.SceneListModel
@{
    ViewBag.Title = "Hello World";
}

<h3>@ViewBag.Title</h3>

<div class="background">
    <img src="@Model.CurrentScene.BackgroundImageUrl" />

    @Html.Partial("_GetSceneObjects", Model)
</div>



