
@model TextQuest.Models.LevelListModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/levelselect.css" runat="server">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Share+Tech+Mono|Montserrat" rel="stylesheet">
</head>
<body>
    <div class="back-container">
        @Html.Partial("_GetLevels", Model)
    </div>
</body>

